/* -- NORMALIZER -- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 13px;
}

a {
  color: white;
}

.section-title {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  border: solid 2px #24303D;
  border-right: none;
  border-left: none;
}

ul.circle-type {
  list-style: circle;
}

/* ----- Header ----- */
.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.logo__link img {
  height: 70px;
  width: auto;
}

.bars-button {
  border: none;
  background-color: transparent;
}

.bars-icon {
  font-size: 35px;
  width: 70px;
  color: #24303D;
}

.menu-navbar {
  display: none;
}

/* ----- Presentation section ----- */
.presentation-section__header {
  background: linear-gradient(rgba(201, 155, 76, 0.43), rgba(201, 155, 76, 0.43)), url("../images/presentation_background.jpg");
  background-color: #c99b4c;
  background-size: cover;
  height: 250px;
  width: 100%;
  padding: 25px 10%;
}
.presentation-section__title {
  font-size: 2.4rem;
  font-family: "Open sans", sans-serif;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  border-bottom: solid 3px #24303D;
  color: #24303D;
}
.presentation-section__subtitle {
  font-size: 1.75rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: #24303D;
  text-align: center;
  line-height: 100px;
}

/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;
}
.sub_title {
  padding: 0 10px;
  font-size: 1.25rem;
  line-height: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  color: #24303D;
  text-align: center;
}
.sub_form {
  text-align: center;
}
.sub_form-label {
  display: inline-block;
  border: solid 1px #24303D;
  border-right: none;
  padding: 0 10px;
  margin-right: -5px;
}
.sub_form-label i {
  font-size: 15px;
  line-height: 25px;
}
.sub_form-input {
  display: inline-block;
  margin: 30px 25px 30px 0;
  background: transparent;
  line-height: 25px;
  border: solid 1px #24303D;
  border-left: none;
}
.sub_form-input::placeholder {
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  color: #24303D;
  text-align: center;
  overflow: visible;
}
.sub_form-button {
  padding: 0 25px;
  line-height: 30px;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #C99D5C;
  color: #24303D;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px grey;
}

/* ----- Footer ----- */
.footer {
  background-color: #24303D;
  display: grid;
  grid-template-areas: "footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4";
  padding: 20px;
}
.footer_title {
  font-size: 1.2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: underline;
}
.footer_title-1 {
  grid-area: footer_title-1;
}
.footer_title-2 {
  grid-area: footer_title-2;
}
.footer_title-3 {
  grid-area: footer_title-3;
}
.footer_title-4 {
  grid-area: footer_title-4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.footer_nav {
  padding-bottom: 40px;
}
.footer_nav-1 {
  grid-area: footer_nav-1;
}
.footer_nav-2 {
  grid-area: footer_nav-2;
}
.footer_nav-3 {
  grid-area: footer_nav-3;
}
.footer_nav-4 {
  grid-area: footer_nav-4;
}
.footer_nav-list-4 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 80px;
}
.footer_nav-list-4 i {
  font-size: 25px;
  width: 25px;
}
.footer_nav-list_item {
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
}
.footer p {
  padding-top: 20px;
  font-size: 0.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
  text-align: center;
  border-top: solid 2px white;
}

/* PAGE ORDER - Order Section */
.order-section {
  padding: 10px 0 40px 0;
  margin: 0 20px;
  text-align: center;
  border-bottom: solid 2px #24303D;
}
.order-section__text {
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 10px 10px 50px 10px;
}
.order-section__text-message {
  padding: 10px 0 30px 0;
  line-height: 24px;
}
.order-section__order-summary {
  padding: 10px;
  border: solid 1px #24303D;
  line-height: 25px;
}
.order-section__return-button {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #43658A;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 5px silver;
  padding: 20px 50px;
}

/*# sourceMappingURL=order.css.map */
