/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 10px;
}

a {
  color: white;
}

.section-title {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  border: solid 2px #24303D;
  border-right: none;
  border-left: none;
}

/* ----- Consent form  ----- */
.consent-form {
  padding: 20px 37.5px;
  background-color: transparent;
  z-index: 100;
}
.consent-form__page-1 {
  display: grid;
  grid-template-areas: "consent-form__logo consent-form__no-consent" "consent-form__title consent-form__title" "consent-form__text consent-form__text" "consent-form__gdpr consent-form__gdpr" "consent-form__accept consent-form__customize";
  border: solid 2px #24303D;
  border-radius: 5px;
  padding: 5px;
}
.consent-form__page-2 {
  border: solid 2px #24303D;
  border-radius: 5px;
  padding: 5px;
}
.consent-form__logo {
  grid-area: consent-form__logo;
  height: 45px;
  width: auto;
  padding: 5px 0 0 20px;
}
.consent-form__no-consent {
  grid-area: consent-form__no-consent;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: #24303D;
  text-decoration: underline;
  text-align: right;
  line-height: 12px;
}
.consent-form__title {
  grid-area: consent-form__title;
  font-family: "Open sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  color: #24303D;
  text-align: center;
  line-height: 16px;
  padding: 15px 0;
}
.consent-form__text {
  grid-area: consent-form__text;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  color: #24303D;
  text-align: center;
  padding: 5px;
}
.consent-form__gdpr {
  grid-area: consent-form__gdpr;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: #24303D;
  text-decoration: underline;
  text-align: center;
  padding: 5px 5px 15px 5px;
}
.consent-form__accept {
  grid-area: consent-form__accept;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #43658A;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
}
.consent-form__customize {
  grid-area: consent-form__customize;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #24303D;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
}
.consent-form__confirm {
  display: inline-block;
  color: white;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: #43658A;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
}

/* ----- Header ----- */
.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.logo__link img {
  height: 70px;
  width: auto;
}

.bars-button {
  border: none;
  background-color: transparent;
}

.bars-icon {
  font-size: 35px;
  width: 70px;
  color: #24303D;
}

.menu-navbar {
  display: none;
}

/* ----- Main ----- */
.presentation-section__header {
  background: linear-gradient(rgba(201, 155, 76, 0.43), rgba(201, 155, 76, 0.43)), url("../images/presentation_background.jpg");
  background-color: #c99b4c;
  background-size: cover;
  height: 250px;
  width: 100%;
  padding: 25px 10%;
}
.presentation-section__title {
  font-size: 2.4rem;
  font-family: "Open sans", sans-serif;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  border-bottom: solid 3px #24303D;
  color: #24303D;
}
.presentation-section__subtitle {
  font-size: 1.75rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: #24303D;
  text-align: center;
  line-height: 100px;
}
.presentation-section__figure {
  padding: 20px;
}
.presentation-section__figure div {
  text-align: center;
  border: solid 3px #3D3424;
  margin: -5px 5px 0 5px;
  padding: 35px 10px;
}
.presentation-section__figure-img {
  height: 210px;
  object-fit: cover;
  object-position: bottom;
}
.presentation-section__figure-text {
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  line-height: 50px;
}

/* HOMEPAGE - Products Section */
.products-section {
  background: linear-gradient(rgba(67, 101, 138, 0.7), rgba(67, 101, 138, 0.7)), url("../images/products_background.jpg");
  background-color: #43658a;
  background-size: cover;
  padding: 50px 20px;
  display: grid;
  grid-template-areas: "title" "article-1" "article-2" "article-3" "article-4" "article-5";
  grid-row-gap: 25px;
}
.products-section header {
  grid-area: title;
}
.products-section__title {
  padding-bottom: 20px;
  font-size: 1.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 36px;
}
.products-section__article {
  cursor: pointer;
}
.products-section__article-1 {
  grid-area: article-1;
}
.products-section__article-2 {
  grid-area: article-2;
}
.products-section__article-3 {
  grid-area: article-3;
}
.products-section__article-4 {
  grid-area: article-4;
}
.products-section__article-5 {
  grid-area: article-5;
}

.product-card {
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px #11171d;
}
.product-card__img {
  border-radius: 20px 20px 0 0;
  height: 188px;
  object-fit: cover;
}
.product-card__info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 62px;
  border-radius: 0 0 20px 20px;
}
.product-card__name {
  padding: 11px 20px;
  display: inline;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #24303D;
  line-height: 40px;
}
.product-card__price {
  padding: 11px 20px;
  display: inline;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #24303D;
  line-height: 40px;
}

/* PAGE PRODUIT - Product Section */
.product-section {
  padding: 20px;
  text-align: center;
}
.product-section__card {
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px silver;
  margin-bottom: 50px;
}

.product-page__img {
  border-radius: 20px 20px 0 0;
  height: 188px;
  object-fit: cover;
}
.product-page__info {
  text-align: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.product-page__name {
  padding: 20px;
  font-family: "Open sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #24303D;
  line-height: 40px;
}
.product-page__price {
  padding: 11px 20px;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #24303D;
  line-height: 40px;
}
.product-page__text {
  padding: 20px;
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  color: #24303D;
  line-height: 24px;
}
.product-page__form {
  padding: 20px;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #24303D;
}
.product-page__add-to-cart {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #43658A;
  padding: 16px 30%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px silver;
}

/* PAGE CART - Cart section */
.cart-section {
  padding: 10px 20px 0 20px;
}
/* PAGE CART - Form section */
.form-section {
  margin: 0 20px;
  padding: 20px 0;
  border-top: solid 2px #24303D;
}
.form-section__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-section__text {
  padding: 0 10px 10px 10px;
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
}
.form-section__title {
  font-family: "Open sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
}
.form-section__label {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  padding: 20px 0 5px 0;
}
.form-section__input {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 30px;
  padding: 0 50px;
}
.form-section__button {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  line-height: 40px;
  background-color: #43658A;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px silver;
  margin: 50px 50px 0 50px;
}

/* PAGE ORDER - Order Section */
.order-section {
  padding: 10px 0 40px 0;
  margin: 0 20px;
  text-align: center;
  border-bottom: solid 2px #24303D;
}
.order-section__text {
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 10px 10px 50px 10px;
}
.order-section__text-message {
  padding: 10px 0 30px 0;
  line-height: 24px;
}
.order-section__order-summary {
  padding: 10px;
  border: solid 1px #24303D;
  line-height: 25px;
}
.order-section__return-button {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #43658A;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 5px silver;
  padding: 20px 50px;
}

/* PAGE CONTACT - Contact Section */
.contact-section {
  padding: 10px 20px 0 20px;
}

/* PAGE CGV - cgv Section */
.cgv-section {
  padding: 10px 20px 0 20px;
}

/* PAGE GDPR - gdpr Section */
.gdpr-section {
  padding: 10px 20px 0 20px;
}

/* PAGE COOKIES - Cookies Section */
.cookies-section {
  padding: 10px 20px 0 20px;
}
.cookies-section__text {
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 10px 10px 20px 10px;
  border-bottom: solid 2px #24303D;
  height: 400px;
  overflow-y: scroll;
}

/* PAGE LEGAL - legal Section */
.legal-section {
  padding: 10px 20px 0 20px;
}
.legal-section__text {
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 10px 10px 20px 10px;
  border-bottom: solid 2px #24303D;
}

/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;
}
.sub_title {
  padding: 0 10px;
  font-size: 1.25rem;
  line-height: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  color: #24303D;
  text-align: center;
}
.sub_form {
  text-align: center;
}
.sub_form div {
  border: solid 1px #24303D;
  margin: 22px 50px;
}
.sub_form-label i {
  font-size: 15px;
  line-height: 25px;
}
.sub_form-input {
  background: transparent;
  line-height: 25px;
  border: none;
}
.sub_form-input::placeholder {
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  color: #24303D;
  text-align: center;
  overflow: visible;
}
.sub_form-button {
  padding: 0 25px;
  line-height: 30px;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #C99D5C;
  color: #24303D;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px grey;
}

/* ----- Footer ----- */
.footer {
  background-color: #24303D;
  display: grid;
  grid-template-areas: "footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4";
  padding: 20px;
}
.footer_title {
  font-size: 1.2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: underline;
}
.footer_title-1 {
  grid-area: footer_title-1;
}
.footer_title-2 {
  grid-area: footer_title-2;
}
.footer_title-3 {
  grid-area: footer_title-3;
}
.footer_title-4 {
  grid-area: footer_title-4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.footer_nav {
  padding-bottom: 40px;
}
.footer_nav-1 {
  grid-area: footer_nav-1;
}
.footer_nav-2 {
  grid-area: footer_nav-2;
}
.footer_nav-3 {
  grid-area: footer_nav-3;
}
.footer_nav-4 {
  grid-area: footer_nav-4;
}
.footer_nav-list-4 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 80px;
}
.footer_nav-list-4 i {
  font-size: 25px;
  width: 25px;
}
.footer_nav-list_item {
  font-size: 1.1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
}
.footer p {
  padding-top: 20px;
  font-size: 0.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
  text-align: center;
  border-top: solid 2px white;
}

/*# sourceMappingURL=style.css.map */
