/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 10px;
}

a {
  color: white;
}

/* ----- Consent form  ----- */
#consent_form {
  display: none;
}

/* ----- Header ----- */
.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.logo_link img {
  height: 70px;
  width: auto;
}

.bars-button {
  border: none;
  background-color: transparent;
}

.bars-icon {
  font-size: 35px;
  width: 70px;
}

.menu-navbar {
  display: none;
}

/* ----- Main ----- */
.presentation_header {
  background: linear-gradient(rgba(201, 155, 76, 0.43), rgba(201, 155, 76, 0.43)), url("../images/presentation_background.jpg");
  background-color: #c99b4c;
  background-size: cover;
  height: 250px;
  width: 100%;
  padding: 25px 10%;
}
.presentation_title {
  font-size: 2.4rem;
  font-family: "Open sans", sans-serif;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  border-bottom: solid 3px black;
}
.presentation_subtitle {
  font-size: 1.75rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 100px;
}
.presentation_figure {
  padding: 20px;
}
.presentation_figure-img {
  height: 210px;
  object-fit: cover;
  object-position: bottom;
}
.presentation_figure-text {
  display: inline-block;
  border: solid 2px black;
  font-size: 1.5rem;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  line-height: 50px;
  text-align: center;
  margin: 0 15px;
}

/* PRODUCTS SECTION */
.products {
  background: linear-gradient(rgba(67, 101, 138, 0.7), rgba(67, 101, 138, 0.7)), url("../images/products_background.jpg");
  background-color: #43658a;
  background-size: cover;
  padding: 50px 20px;
}
.products_title {
  font-size: 1.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 36px;
}

/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;
}
.sub_title {
  padding: 0 20px;
  font-size: 1.25rem;
  line-height: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  text-align: center;
}
.sub_form {
  text-align: center;
}
.sub_form div {
  border: solid 1px black;
  margin: 22px 50px;
}
.sub_form-label i {
  font-size: 15px;
  line-height: 25px;
}
.sub_form-input {
  background: transparent;
  line-height: 25px;
  border: none;
}
.sub_form-input::placeholder {
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  text-align: center;
  overflow: visible;
}
.sub_form-button {
  padding: 0 25px;
  line-height: 30px;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  text-align: center;
  background-color: #C99D5C;
  color: #24303D;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px grey;
}

/* ----- Footer ----- */
.footer {
  background-color: #24303D;
  display: grid;
  grid-template-areas: "footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4";
  padding: 20px;
}
.footer_title {
  font-size: 1.2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: underline;
}
.footer_title-1 {
  grid-area: footer_title-1;
}
.footer_title-2 {
  grid-area: footer_title-2;
}
.footer_title-3 {
  grid-area: footer_title-3;
}
.footer_title-4 {
  grid-area: footer_title-4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.footer_nav {
  padding-bottom: 40px;
}
.footer_nav-1 {
  grid-area: footer_nav-1;
}
.footer_nav-2 {
  grid-area: footer_nav-2;
}
.footer_nav-3 {
  grid-area: footer_nav-3;
}
.footer_nav-4 {
  grid-area: footer_nav-4;
}
.footer_nav-list-4 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 80px;
}
.footer_nav-list-4 i {
  font-size: 25px;
  width: 25px;
}
.footer_nav-list_item {
  font-size: 1.1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
}
.footer p {
  padding-top: 20px;
  font-size: 0.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
  text-align: center;
  border-top: solid 2px white;
}

/*# sourceMappingURL=style.css.map */
