// IMPORT

// VARIABLES
// Variables - Couleurs
$color-primary : #43658A;
$color-secondary : #5F748A;
$color-tertiary : #24303D;
$color-quaternary : #C99D5C;
$color-quinary : #3D3424;

// MIXINS

// KEYFRAMES

// FONCTIONS

// PLACEHOLDERS

/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 10px;
}
body {

}
a {
  color: white;
}
.section-title {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height : 60px;
  text-align: center;
  border: solid 2px $color-tertiary;
  border-right: none;
  border-left: none;
}

/* ----- Consent form  ----- */
.consent-form {
  padding: 20px 37.5px;
  background-color: transparent;
  z-index: 100;
  &__page{
    &-1 {
      display: grid;
      grid-template-areas: "consent-form__logo consent-form__no-consent" "consent-form__title consent-form__title" "consent-form__text consent-form__text" "consent-form__gdpr consent-form__gdpr" "consent-form__accept consent-form__customize";
      border: solid 2px $color-tertiary;
      border-radius: 5px;
      padding: 5px;
    }
    &-2 {
      border: solid 2px $color-tertiary;
      border-radius: 5px;
      padding: 5px;
    }
  }
  &__logo {
    grid-area: consent-form__logo;
  height: 45px;
    width: auto;
    padding: 5px 0 0 20px;
  }
  &__no-consent {
    grid-area: consent-form__no-consent;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    color: $color-tertiary;
    text-decoration: underline;
    text-align: right;
    line-height: 12px;
  }
  &__title {
    grid-area: consent-form__title;
    font-family: "Open sans", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: $color-tertiary;
    text-align: center;
    line-height : 16px;
    padding : 15px 0;
  }
  &__text {
    grid-area: consent-form__text;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: $color-tertiary;
    text-align: center;
    padding: 5px;
  }
  &__gdpr {
    grid-area: consent-form__gdpr;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    color: $color-tertiary;
    text-decoration: underline;
    text-align: center;
    padding: 5px 5px 15px 5px;
  }
  &__accept {
    grid-area: consent-form__accept;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $color-primary;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
  }
  &__customize {
    grid-area: consent-form__customize;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: $color-tertiary;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
  }
  &__confirm {
    display: inline-block;
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
  }

}


/* ----- Header ----- */
.header {
  padding : 5px 20px;
  display: flex;
  justify-content: space-between;
}
.logo__link img {
  height: 70px;
  width: auto;
}

.bars-button {
  border: none;
  background-color: transparent;
}

.bars-icon {
  font-size: 35px;
  width: 70px;
  color: $color-tertiary;
}

.menu-navbar {
  display: none;
}



/* ----- Main ----- */
.presentation-section {
  &__header {
    background : linear-gradient(rgba(201, 155, 76, .43), rgba(201, 155, 76, .43)), url("../images/presentation_background.jpg");
    background-color: rgba(201, 155, 76, 1);
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 25px 10%;
  }
  &__title {
      font-size: 2.4rem;
      font-family: 'Open sans', sans-serif;
      text-align: center;
    line-height : 100px;
    text-transform: uppercase;
    border-bottom: solid 3px $color-tertiary;
    color: $color-tertiary;
  }
  &__subtitle {
    font-size: 1.75rem;
    font-family: 'Open sans', sans-serif;
    font-weight : 400;
    color: $color-tertiary;
    text-align : center;
    line-height: 100px;
  }
  &__figure {
    padding: 20px;

    div
    {
      text-align: center;
      border : solid 3px $color-quinary;
      margin : -5px 5px 0 5px;
      padding: 35px 10px;
    }
    &-img {
      height: 210px;
      object-fit: cover;
    object-position: bottom;
    }
    &-text {
      display: inline-block;
      font-size: 1.2rem;
      font-family: 'Open sans', sans-serif;
      font-weight: 500;
      line-height: 50px;
    }
  }
}

/* HOMEPAGE - Products Section */
.products-section {
  background : linear-gradient(rgba(67, 101, 138, .7), rgba(67, 101, 138, .7)), url("../images/products_background.jpg");
  background-color: rgba(67, 101, 138, 1);
  background-size: cover;
  padding: 50px 20px;
  display: grid;
  grid-template-areas: "title" "article-1" "article-2" "article-3" "article-4" "article-5";
  grid-row-gap: 25px;

  header {
    grid-area: title;
  }

  &__title {
    padding-bottom : 20px;
    font-size: 1.8rem;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    color: white;
    line-height: 36px;
  }
  &__article{
    cursor: pointer;
    &-1 {
      grid-area: article-1;
    }
    &-2 {
      grid-area: article-2;
    }
    &-3 {
      grid-area: article-3;
    }
    &-4 {
      grid-area: article-4;
    }
    &-5 {
      grid-area: article-5;
    }
  }
}
.product-card {
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px darken($color-tertiary, 10%);
  &__img {
    border-radius: 20px 20px 0 0;
    height : 188px;
    object-fit: cover;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 62px;
    border-radius: 0 0 20px 20px;
  }
  &__name {
    padding: 11px 20px;
    display: inline;
    font-family: "Open sans", sans-serif;
    font-size : 1.2rem;
    font-weight : 400;
    color: $color-tertiary;
    line-height: 40px;
  }
  &__price {
    padding: 11px 20px;
    display: inline;
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight : 200;
    color: $color-tertiary;
    line-height: 40px;
  }
}

/* PAGE PRODUIT - Product Section */
.product-section {
  padding: 20px;
  text-align:  center;

  &__card {
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px silver;
    margin-bottom: 50px;
  }
}
.product-page {
  &__img {
    border-radius: 20px 20px 0 0;
    height : 188px;
    object-fit: cover;
  }
  &__info {
    text-align: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }
  &__name {
    padding: 20px;
    font-family: "Open sans", sans-serif;
    font-size : 1.5rem;
    font-weight : 300;
    color: $color-tertiary;
    line-height: 40px;
  }
  &__price {
    padding: 11px 20px;
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight : 200;
    color: $color-tertiary;
    line-height: 40px;
  }
  &__text {
    padding: 20px;
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
    font-weight : 200;
    color: $color-tertiary;
    line-height: 24px;
  }
  &__form {
    padding: 20px;
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight : 200;
    color: $color-tertiary;
  }
  &__add-to-cart {
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: $color-primary;
    padding: 16px 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px silver;
  }
}

/* PAGE CART - Cart section */
.cart-section {
  padding: 20px;

  &__title {
  }
}

/* PAGE CART - Form section */
.form-section {
  margin: 0 20px;
  padding: 20px 0;
  border-top: solid 2px $color-tertiary;

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__text {
    padding : 0 10px 10px 10px;
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;

  }
  &__title {
    font-family: "Open sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 30px;
    padding: 10px;
  }

  &__label {
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    padding: 20px 0 5px 0;
  }

  &__input {
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 30px;
    padding: 0 50px;
  }
  &__button {
    font-family: "Open sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    line-height: 40px;
    background-color: $color-primary;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px silver;
    margin: 50px 50px 0 50px;
  }
}

/* PAGE ORDER - Order Section */
.order-section {
  padding: 20px;
}

/* PAGE CONTACT - Contact Section */
.contact-section {
  padding: 20px;
}

/* PAGE CGV - cgv Section */
.cgv-section {
  padding: 20px;
}

/* PAGE GDPR - gdpr Section */
.gdpr-section {
  padding: 20px;
}

/* PAGE COOKIES - Cookies Section */
.cookies-section {
  padding: 10px 20px 0 20px;

  &__text {
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 10px 10px 20px 10px;
    border-bottom: solid 2px $color-tertiary;
  }
}

/* PAGE LEGAL - legal Section */
.legal-section {
  padding: 10px 20px 0 20px;

  &__text {
    font-family: "Open sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 10px 10px 20px 10px;
    border-bottom: solid 2px $color-tertiary;
  }
}

/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;

  &_title {
    padding: 0 10px;
    font-size: 1.25rem;
    line-height: 22px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    color: $color-tertiary;
    text-align: center;
  }

  &_form {
    text-align: center;
    div {
      border : solid 1px $color-tertiary;
      margin : 22px 50px;
    }

    &-label {
      i {
        font-size : 15px;
        line-height: 25px;
      }
    }
    &-input {
      background: transparent;
      line-height : 25px;
      border : none;

      &::placeholder {
        font-size: 12px;
        font-family: 'Open sans', sans-serif;
        font-weight: 200;
        color: $color-tertiary;
        text-align: center;
      overflow: visible;
    }
    }

    &-button {
      padding : 0 25px;
      line-height: 30px;
      font-size: 1rem;
      font-family: 'Open sans', sans-serif;
      font-weight: 500;
      text-align: center;
      background-color: $color-quaternary;
      color: $color-tertiary;
      border : none;
      border-radius: 5px;
      box-shadow: 3px 3px 5px 2px grey;
    }
  }
}


/* ----- Footer ----- */
.footer {
  background-color: $color-tertiary;
  display: grid;
  grid-template-areas:"footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4";
  padding : 20px;
  &_title {
    font-size : 1.2rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: white;
    text-decoration : underline;
    &-1 {
      grid-area : footer_title-1;
    }
    &-2 {
      grid-area : footer_title-2;
    }
    &-3 {
      grid-area : footer_title-3;
    }
    &-4 {
      grid-area : footer_title-4;
      text-decoration : none;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  &_nav {
    padding-bottom: 40px;
    &-1 {
      grid-area : footer_nav-1;
    }
    &-2 {
      grid-area : footer_nav-2;
    }
    &-3 {
      grid-area : footer_nav-3;
    }
    &-4 {
      grid-area : footer_nav-4;
    }

    &-list{
      &-4 {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding: 0 80px;

        i {
          font-size : 25px;
          width: 25px;
        }
      }
    &_item {
      font-size : 1.1rem;
      font-family: 'Open sans', sans-serif;
      font-weight: 100;
      line-height: 20px;
      color: white;
    }
    }
  }
  p {
    padding-top : 20px;
    font-size : 0.8rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
    line-height: 20px;
    color: white;
    text-align: center;
    border-top : solid 2px white;
  }
}

