// IMPORT

// VARIABLES
// Variables - Couleurs
$color-primary : #43658A;
$color-secondary : #5F748A;
$color-tertiary : #24303D;
$color-quaternary : #C99D5C;
$color-quinary : #3D3424;

// MIXINS

// KEYFRAMES

// FONCTIONS

// PLACEHOLDERS

/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 10px;
}
body {

}
a {
  color: white;
}


/* ----- Consent form  ----- */
#consent_form {
  display: none;
}


/* ----- Header ----- */
.header {
  padding : 5px 20px;
  display: flex;
  justify-content: space-between;
}
.logo_link img {
  height: 70px;
  width: auto;
}

.bars-button {
  border: none;
  background-color: transparent;
}

.bars-icon {
  font-size: 35px;
  width: 70px;
}

.menu-navbar {
  display: none;
}



/* ----- Main ----- */
.presentation {
  &_header {
    background : linear-gradient(rgba(201, 155, 76, .43), rgba(201, 155, 76, .43)), url("../images/presentation_background.jpg");
    background-color: rgba(201, 155, 76, 1);
    background-size: cover;
    height: 250px;
    width: 100%;
    padding: 25px 10%;
  }
  &_title {
      font-size: 2.4rem;
      font-family: Voltaire, sans-serif;
      text-align: center;
    line-height : 100px;
    border-bottom: solid 3px black;
  }
  &_subtitle {
    font-size: 1.75rem;
    font-family: Voltaire, sans-serif;
    font-weight : 300;
    text-align : center;
    line-height: 100px;
  }
  &_figure {
    padding: 20px;
    &-img {
      height: 210px;
      object-fit: cover;
    object-position: bottom;
    }
    &-text {
      display: inline-block;
      border : solid 2px black;
      font-size: 1.5rem;
      font-family: Voltaire, sans-serif;
      font-weight: 200;
      line-height: 50px;
      text-align: center;
      margin: 0 15px;
    }
  }
}


/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;

  &_title {
    padding: 0 20px;
    font-size: 1.25rem;
    line-height: 22px;
    font-family: Voltaire, sans-serif;
    font-weight: 200;
    text-align: center;
  }

  &_form {
    font-size: 12px;
    font-family: Voltaire, sans-serif;
    font-weight: 200;
    text-align: center;
    div {
      border : solid 1px black;
      margin : 22px 50px;
    }

    &-label {
      i {
        font-size : 15px;
        line-height: 25px;
      }
    }
    &-input {
      background: transparent;
      padding : 0 50px;
      margin-left : -15px;
      line-height : 25px;
      border : none;

      &::placeholder {
        text-align: center;
      overflow: visible;
    }
    }

    &-button {
      padding : 0 25px;
      line-height: 30px;
      font-size: 12px;
      font-family: Voltaire, sans-serif;
      font-weight: 200;
      text-align: center;
      background-color: $color-quaternary;
      color: $color-tertiary;
      border : none;
      border-radius: 5px;
      box-shadow: 3px 3px 5px 2px grey;
    }
  }
}


/* ----- Footer ----- */
.footer {
  background-color: $color-tertiary;
  display: grid;
  grid-template-areas:"footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4";
  padding : 20px;
  &_title {
    font-size : 1.2rem;
    font-family: Voltaire, sans-serif;
    font-weight: 200;
    line-height: 24px;
    color: white;
    text-decoration : underline;
    &-1 {
      grid-area : footer_title-1;
    }
    &-2 {
      grid-area : footer_title-2;
    }
    &-3 {
      grid-area : footer_title-3;
    }
    &-4 {
      grid-area : footer_title-4;
      text-decoration : none;
      text-transform: uppercase;
    }
  }
  &_nav {
    &-1 {
      grid-area : footer_nav-1;
    }
    &-2 {
      grid-area : footer_nav-2;
    }
    &-3 {
      grid-area : footer_nav-3;
    }
    &-4 {
      grid-area : footer_nav-4;
    }

    &-list{
      &-4 {
        display: flex;
        justify-content: center;
      }
    &_item {
      font-size : 1.1rem;
      font-family: Voltaire, sans-serif;
      font-weight: 100;
      line-height: 20px;
      color: white;
    }
    }
  }
  p {
    font-size : 1.1rem;
    font-family: Voltaire, sans-serif;
    font-weight: 100;
    line-height: 20px;
    color: white;
    text-align: center;
    border-top : solid 2px white;
  }
}

