/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  margin: 0;
}

/* -------------------------------------------------- GENERAL CONTENT ------------------------------------------ */
root {
  font-size: 13px;
}

body {
  line-height: 1;
}

a {
  color: white;
}

.section-title {
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  border: solid 2px #24303D;
  border-right: none;
  border-left: none;
}

ul.circle-type {
  list-style: circle;
}

.d-none {
  display: none !important;
}

/* ----- Header ----- */
.header {
  padding: 0 20px;
}
@media (min-width: 425px) {
  .header {
    padding: 0 50px;
  }
}
@media (min-width: 980px) {
  .header {
    display: flex;
  }
}
.header .logo__link {
  display: inline-block;
  padding: 5px 0;
  line-height: 0;
}
@media (min-width: 980px) {
  .header .logo__link {
    display: flex;
    flex-shrink: 0;
  }
}
.header .logo__link img {
  display: inline-block;
  height: 70px;
  width: auto;
}
.header .bars-button {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}
@media (min-width: 425px) {
  .header .bars-button {
    right: 50px;
  }
}
@media (min-width: 980px) {
  .header .bars-button {
    display: none;
  }
}
.header .bars-button:hover {
  transform: scale(1.25);
}
.header .bars-icon {
  font-size: 30px;
  line-height: 30px;
  width: 30px;
  color: #24303D;
}
.header .menu-navbar {
  width: 100%;
  display: block;
}
.header .menu-navbar.folded {
  display: none;
}
@media (min-width: 980px) {
  .header .menu-navbar.folded {
    display: inline-block;
    text-align: right;
  }
}
.header .menu-items {
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 980px) {
  .header .menu-items {
    line-height: 80px;
  }
}
.header .menu-item {
  line-height: 40px;
  border-top: solid 1px #dce3ea;
  padding: 5px 20px;
}
.header .menu-item:hover {
  transition: all 0.2s;
  background-color: #43658A;
}
.header .menu-item:hover a {
  color: #C99D5C;
}
.header .menu-item a {
  color: #24303D;
  padding: 10px;
}
@media (min-width: 980px) {
  .header .menu-item {
    display: inline-block;
    border: none;
  }
}
.header .cart-icon {
  color: #5d4f37;
  margin-right: 5px;
}

/* ----- Presentation section ----- */
.presentation-section__header {
  background: linear-gradient(rgba(201, 155, 76, 0.43), rgba(201, 155, 76, 0.43)), url("../images/presentation_background.jpg");
  background-color: #c99b4c;
  background-size: cover;
  height: 250px;
  width: 100%;
  padding: 25px 20px;
}
@media (min-width: 425px) {
  .presentation-section__header {
    padding: 25px 50px;
  }
}
.presentation-section__title {
  font-size: 2.4rem;
  font-family: "Open sans", sans-serif;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  border-bottom: solid 3px #24303D;
  color: #24303D;
}
.presentation-section__subtitle {
  font-size: 1.75rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: #24303D;
  text-align: center;
  line-height: 100px;
}

/* SUBSCRIPTION SECTION */
.sub {
  background-color: white;
  padding: 50px 20px;
}
@media (min-width: 425px) {
  .sub {
    padding: 50px;
  }
}
.sub_title {
  font-size: 1.25rem;
  line-height: 22px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  color: #24303D;
  text-align: center;
}
.sub_form {
  text-align: center;
}
.sub_form-label {
  display: inline-block;
  border: solid 1px #24303D;
  border-right: none;
  padding: 0 10px;
  margin-right: -5px;
}
.sub_form-label i {
  font-size: 15px;
  line-height: 25px;
}
@media (min-width: 980px) {
  .sub_form-label i {
    line-height: 40px;
  }
}
.sub_form-input {
  display: inline-block;
  margin: 30px 10px 30px 0;
  background: transparent;
  line-height: 25px;
  border: solid 1px #24303D;
  border-left: none;
}
@media (min-width: 980px) {
  .sub_form-input {
    line-height: 40px;
    padding: 0 10px;
    margin: 30px 0;
  }
}
.sub_form-input::placeholder {
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 200;
  color: #24303D;
  text-align: center;
  overflow: visible;
}
.sub_form-button {
  padding: 0 25px;
  margin: 0 calc((100% - 130px) / 2);
  line-height: 30px;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #C99D5C;
  color: #24303D;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px grey;
  cursor: pointer;
}
@media (min-width: 980px) {
  .sub_form-button {
    font-size: 1.1rem;
    line-height: 50px;
    padding: 0 40px;
    margin: 0 calc((100% - 165px) / 2);
  }
}

/* ----- Footer ----- */
.footer {
  background-color: #24303D;
  display: grid;
  grid-template-areas: "footer_title-1" "footer_nav-1" "footer_title-2" "footer_nav-2" "footer_title-3" "footer_nav-3" "footer_title-4" "footer_nav-4" "footer-copyright";
  padding: 20px;
}
@media (min-width: 425px) {
  .footer {
    padding: 20px 50px;
  }
}
@media (min-width: 625px) {
  .footer {
    text-align: center;
    grid-template-areas: "footer_title-1 footer_title-2 footer_title-3" "footer_nav-1 footer_nav-2 footer_nav-3" ". footer_title-4 ." ". footer_nav-4 ." "footer-copyright footer-copyright footer-copyright";
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.footer_title {
  font-size: 1.2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: underline;
}
.footer_title-1 {
  grid-area: footer_title-1;
}
.footer_title-2 {
  grid-area: footer_title-2;
}
.footer_title-3 {
  grid-area: footer_title-3;
}
.footer_title-4 {
  grid-area: footer_title-4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.footer_nav {
  padding-bottom: 40px;
}
.footer_nav-1 {
  grid-area: footer_nav-1;
}
.footer_nav-2 {
  grid-area: footer_nav-2;
}
.footer_nav-3 {
  grid-area: footer_nav-3;
}
.footer_nav-4 {
  grid-area: footer_nav-4;
}
.footer_nav-list-4 {
  display: flex;
  justify-content: space-between;
  padding: 30px 15% 0 15%;
}
@media (min-width: 1024px) {
  .footer_nav-list-4 {
    padding: 30px 25% 0 25%;
  }
}
.footer_nav-list-4 i {
  font-size: 25px;
  width: 25px;
}
.footer_nav-list_item {
  font-size: 0.9rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
}
.footer p {
  grid-area: footer-copyright;
  padding-top: 20px;
  font-size: 0.8rem;
  font-family: "Open sans", sans-serif;
  font-weight: 100;
  line-height: 20px;
  color: white;
  text-align: center;
  border-top: solid 2px white;
}

@keyframes loading-spinner {
  99.9% {
    transform: scale(1);
    z-index: 20;
  }
  100% {
    transform: scale(0);
    z-index: -1;
  }
}
@keyframes loading-spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
/* PAGE ORDER - Order Section */
.order-section {
  padding: 10px 0 40px 0;
  margin: 0 20px;
  text-align: center;
  border-bottom: solid 2px #24303D;
}
@media (min-width: 425px) {
  .order-section {
    margin: 0 50px;
  }
}
.order-section__title {
  font-size: 1.05rem;
  line-height: 30px;
}
@media (min-width: 321px) {
  .order-section__title {
    line-height: 60px;
  }
}
@media (min-width: 350px) {
  .order-section__title {
    font-size: 1.2rem;
    line-height: 30px;
  }
}
@media (min-width: 361px) {
  .order-section__title {
    line-height: 60px;
  }
}
.order-section__text {
  font-family: "Open sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px 10px 50px 10px;
}
@media (min-width: 620px) {
  .order-section__text {
    padding: 10px calc(50% - 250px) 50px calc(50% - 250px);
  }
}
.order-section__text h3 {
  font-size: 0.95rem;
  font-weight: 600;
  color: #24303D;
  margin: 15px 0;
}
.order-section__text-message {
  padding: 10px 0 30px 0;
  line-height: 30px;
}
.order-section__order-summary {
  padding: 10px;
  border: solid 1px #24303D;
  line-height: 25px;
}
.order-section__order-summary h3 {
  color: #43658A;
  font-weight: 600;
  text-decoration: underline;
}
.order-section__order-summary-number strong {
  color: #C99D5C;
  font-weight: 800;
}
.order-section__order-summary-price strong {
  color: #24303D;
  font-weight: 800;
}
.order-section__return-button {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #43658A;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 5px silver;
  padding: 20px 50px;
}

/* PAGE ORDER - Loading Spinner */
.loading-spinner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #324c68;
  opacity: 0.75;
  animation: loading-spinner 2s linear forwards;
  cursor: wait;
}
.loading-spinner-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  border: solid 4px white;
  border-top: solid 4px #b6853c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loading-spinner-spin 2s linear forwards;
}
.loading-spinner-text {
  position: absolute;
  top: 60%;
  left: calc(50% - 120px);
  z-index: 20;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

/*# sourceMappingURL=order.css.map */
